@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #acad94;
  --secondaryColor: #353535;
  --GreyishColor: #d9d9d9;
  --IndigoColor: #284b63;
  --MainWhiteColor: #ffffff;
  --GreenColor: #499167;
}

a {
  text-decoration: none;
}

/* Nav Button */
.nav-btn {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  cursor: pointer;
  margin: 1.2rem 1.2rem;
  font-size: 2.5rem;
  color: var(--GreenColor);
}
/* Navbar */
.navbar {
  position: fixed;
  height: 100vh;
  width: 25vw;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: var(--GreyishColor);
  transition: all 0.9s ease-in-out;

  transform: translateX(100%);
}
.showNav {
  transform: translateX(0);
}
.nav-close {
  font-size: 2.4rem;
  display: inline-block;
  cursor: pointer;
  color: var(--GreenColor);
  padding: 2rem 2rem;
}
.nav-items {
  padding-left: 1.8rem;
  list-style-type: none;
}
.nav-link {
  font-size: 2rem;
  display: block;
  margin-bottom: 1.2rem;
  letter-spacing: 0.3rem;
  color: var(--secondaryColor);
  font-family: "Roboto Condensed", sans-serif;
  transition: all 0.4s;
}
.nav-link:hover {
  padding-left: 0.5rem;
  color: var(--GreenColor);
}
@media screen and (max-width: 900px) {
  .navbar {
    width: 100vw;
  }
}

/* Header */
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

.banner {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.banner-subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  animation: slideFromRight 1.8s 1;
}

.banner-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  margin-top: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.my-button {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  font-weight: 550;
  padding: 20px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  margin-top: 2.8rem;
  outline: none;
  background-color: var(--primaryColor);
  transition: all 0.3s;
  animation: buttonShow 1.8s 1;
}

.my-button:hover {
  background-color: var(--GreyishColor);
  opacity: 0.9;
}

/* Header ends */

/* Animations */
@keyframes buttonShow {
  0% {
    transform: scale(1.5);
    border-radius: 10px;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* Animation ends */

/* Content Divider */
.content-divider {
  height: 0.5rem;
  background: linear-gradient(
    to left,
    var(--primaryColor),
    var(--GreyishColor),
    var(--primaryColor)
  );
}

/* Skills */
.skills {
  overflow: auto;
  background: var(--GreyishColor);
}
.skill {
  text-align: center;
  padding: 2.5rem;
  transition: all 0.5s;
}
.skill-icon {
  font-size: 3rem;
  margin-bottom: 1.4rem;
  display: inline-block;
  transition: all 0.5s;
}
.skill-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: var(--GreenColor);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  transition: all 0.5s;
  margin-bottom: 1.8rem;
}
.skill-feature {
  font-size: 1.4rem;
  font-family: "Josefin Sans", sans-serif;
  margin: 0 auto;
  max-width: 13rem;
  font-weight: 600;
}

.skill:hover {
  background: var(--GreenColor);
}
.skill:hover .skill-title {
  color: var(--GreyishColor);
}
.skill:hover .skill-icon {
  transform: translateY(-10px);
}

/* Media Queries for column */
@media screen and (min-width: 576px) {
  .skill {
    float: left;
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .skill {
    width: 25%;
  }
}
/* Skills end */

/* About Section */
.about {
  overflow: auto;
}
.section-container {
  padding: 4rem 0;
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

.info,
.about-img {
  padding: 2rem 0;
}

.about-picture {
  width: 100%;
  display: block;
  transition: all 0.6s;
  border-radius: 20px;
  padding: 0.6rem;
}
.about-img-container:hover .about-picture {
  transform: scale(1.05);
  opacity: 0.85;
}

.info-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.5rem;
  border-bottom: 2px solid black;
}

.info-desc {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 550;
}

.info-desc p {
  margin-top: 0.8rem;
}

@media screen and (min-width: 900px) {
  .about-img,
  .info {
    float: left;
    width: 50%;
    padding: 2rem;
  }
}
/* About Section ends */

/* Products section */
.products {
  overflow: auto;
  margin-top: 1rem;
  background-color: var(--secondaryColor);
}

.product-section-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.5rem;
  color: var(--GreyishColor);
}
.product-section-info {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  margin-top: 1rem;
  color: white;
}
/* Individual products styling */
.products-inventory,
.main-info-products {
  padding: 2rem 0;
}
.product-img {
  width: 100%;
  display: block;
  border-radius: 20px;
  margin-bottom: 1.5rem;
}
.product-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.5rem;
  color: var(--GreyishColor);
}
.product-price {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  margin-top: 1rem;
  color: white;
}

@media screen and (min-width: 1100px) {
  .product {
    float: left;
    width: 33.33%;
    padding: 2rem 1rem;
  }
}
@media screen and (min-width: 1300px) {
  .main-info-products {
    float: left;
    width: 25%;
  }
  .product {
    width: 25%;
  }
}
@media screen and (max-width: 1099px) {
  .product-img-container {
    width: 75%;
  }
  .product {
    padding: 1rem 0;
  }
}

/* Service section */
.services-heading {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
.service-cards {
  text-align: center;
}
.service-cards .card {
  border-radius: 20px;
}
.service-cards .card .card-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
}
.service-cards .card .card-text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}
@media screen and (min-width: 860px) {
  .card {
    float: left;
    width: 30%;
    margin-left: 1.2rem;
  }
}
@media screen and (max-width: 859px) {
  .card {
    float: left;
    width: 48%;
    margin-top: 1.2rem;
    margin-left: 0.5rem;
  }
}
@media screen and (max-width: 720px) {
  .card {
    width: 80%;
    margin-top: 1.2rem;
  }
}
/* Service section ends */

/* Contact Section */
.contact {
  padding-top: 2rem;
  overflow: auto;
}
.contact-item {
  margin-bottom: 3rem;
}
.contact-title h3 {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--GreenColor);
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
}
.contact-text {
  font-family: "Josefin Sans", sans-serif;
  padding-top: 1.2rem;
  font-weight: 550;
  font-size: 1.5rem;
}

.form-control {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--GreenColor);
  outline: none;
  margin: 1.6rem 0;
  padding: 1.4rem 0;
  font-size: 1.2rem;
  font-family: "Roboto Condensed", sans-serif;
}

@media screen and (min-width: 992px) {
  .contact-details,
  .contact-form {
    float: left;
    width: 50%;
  }
}
/* Contact Section ends */

/* Footer */
.footer {
  overflow: auto;
  background-color: var(--secondaryColor);
}
.icons {
  padding-top: 1.2rem;
  text-align: center;
}
.social-icon {
  display: inline;
  color: var(--GreyishColor);
  padding: 1rem;
}
.social-icon i {
  transition: all 0.5s;
}
.social-icon:hover i {
  transform: translateY(-5px);
}
.footer-text {
  text-align: center;
  color: var(--GreyishColor);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2rem;
  padding-top: 1.4rem;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
}
.main-footer {
  color: var(--GreenColor);
  text-transform: uppercase;
  font-weight: bold;
}
